.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #BA8D38;
  color: #1D1C1C;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  transition: all 0.3s ease;
  border-right: solid 1px #1D1C1C;
}

.sidebar img {
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
  background-color: white;
  padding-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.icons-margin {
  margin-right: 10px;
}

.sidebar ul li a {
  color: #1D1C1C;
  text-decoration: none;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  color: white;
  background-color: #1D1C1C;
}

/* .btn:hover {
  color: #BA8D38;
} */

/* .sidebar ul li:hover {
  background-color: #1D1C1C;
} */

/* .toggle-button {
  position: fixed;
  top: 15px;
  left: 280px;
  background-color: #BA8D38;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  transition: background 0.3s;
}

.toggle-button:hover {
  background-color: #1D1C1C;
} */


@media (max-width: 768px) {
  .sidebar img {
    display: none;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
  }

  .sidebar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .lll {
    display: none;
  }

  /* .toggle-button {
    display: none;
  } */
}

.lang {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.lang button, li > button{
  display: flex;
  color: #1D1C1C;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  transition: color 0.3s;
  background-color: #BA8D38;
  border: none;
}

.lang button:hover, li > button:hover{
  color: white;
  background-color: #1D1C1C;
}