.showuser {
  display: flex;
  height: 100vh;
  background-color: #f4f4f4;
  flex-direction: column; /* default to column for smaller screens */
}

.showuser > .sidebar {
  width: 250px;
  flex-shrink: 0;
}

.showuser .container {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table-container {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showuser .user-details {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showuser .user-details p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.head-driver {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showuser .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Ensure header items wrap on small screens */
  margin-bottom: 20px;
}

.showuser .header h1 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

.showuser .header .add-user-btn {
  font-size: 0.75rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #BA8D38;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.showuser .header .add-user-btn:hover {
  background-color: #A37A30;
}

.showuser table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.showuser table th,
.showuser table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.showuser table th {
  background-color: #f2f2f2;
  color: #333;
}

.showuser table tr:hover {
  background-color: #f9f9f9;
}

.showuser table td button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #BA8D38;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.showuser table td button:hover {
  background-color: #A37A30;
}

.showuser .links {
  display: flex;
  gap: 10px;
}

.showuser .travel-links a {
  width: 125px;
}

.showuser a, .showuser .header button {
  color: #1D1C1C;
  width: 75px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BA8D38;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

/* .showuser a:hover, .showuser .header button:hover {
  color: white;
  background-color: #1D1C1C;
} */

.private-table {
  width: 82%;
  margin-left: 250px;
}

.private-table h2{
  margin-left: -250px;
}

@media (max-width: 768px) {
  .showuser {
    flex-direction: column;
  }

  .showuser .container {
    padding: 10px;
    margin-left: 0;
  }

  .showuser .header h1 {
    font-size: 1rem;
  }

  .showuser table th,
  .showuser table td {
    padding: 10px;
  }

  .showuser .user-details {
    font-size: 1rem;
  }

  .showuser .header h1 {
    font-size: 1.5rem;
  }

  .showuser table {
    font-size: 0.9rem;
  }

  .showuser a, .showuser .header button {
    width: 55px;
    height: 35px;
    padding: 20px;
    font-size: 0.9rem;
  }

  .private-table {
    width: 100%;
    margin-left: 0;
  }

  .private-table h2{
    margin-left: 0;
  }
}
