@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #1D1C1C;
}

input[type="number"] {
  width: 100%;
  max-width: 400px; 
  padding: 0.5rem; 
  font-size: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 0.5rem; 
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s, box-shadow 0.3s; 
  outline: none;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="number"]:focus {
  border-color: #BA8D38;
  box-shadow: 0 0 0 3px rgba(186, 141, 56, 0.2); 
}

input[type="number"]::placeholder {
  color: #aaa; 
  opacity: 1; 
}

@media (max-width: 600px) {
  input[type="number"] {
    max-width: 100%; 
    font-size: 0.875rem; 
  }

  .actions-style {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}
