.adddailytrip {
  display: flex;
  flex-direction: row;
}

.adddailytrip .container {
  padding: 20px;
  margin-left: 250px;
  width: calc(100% - 250px); 
}

.adddailytrip h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.adddailytrip form {
  display: flex;
  flex-direction: column;
}

.adddailytrip label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
}

#bus_id, #line_id {
  margin-bottom: 20px;
}

.adddailytrip input[type="text"],
.adddailytrip input[type="date"],
.adddailytrip input[type="number"],
.adddailytrip input[type="time"] {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.adddailytrip input[type="submit"] {
  background-color: #BA8D38;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.adddailytrip input[type="submit"]:hover {
  background-color: #A37A30;
}

.adddailytrip input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



@media (max-width: 768px) {
  .adddailytrip {
    flex-direction: column;
  }

  .adddailytrip .container {
    margin-left: 0;
    width: 100%;
  }

}
